@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik-v28-latin-regular.woff2");
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/rubik-v28-latin-500.woff2");
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/rubik-v28-latin-700.woff2");
}

:root {
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubic", Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  background-image: url("../assets/images/pattern-bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-block: 20px;
  font-size: 28px;
}

.search-box {
  position: relative;
  width: min(calc(100% - 120px), 500px);
  height: 50px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-inline: 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
}

input::placeholder {
  font-size: 12px;
  font-weight: normal;
  font-family: sans-serif;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  border: none;
  border-radius: 0 10px 10px 0;
  background: black;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.ip-info {
  text-align: center;
  background: white;
  border-radius: 15px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr;
  width: calc(100% - 120px);
  padding-bottom: 16px;
  z-index: 999;
}

.text-content {
  padding: 16px 28px;
}

.info-title {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 700;
}
.info-value {
  line-height: 1.1;
}

#map {
  height: 850px;
}

@media (min-width: 1080px) {
  header {
    background-image: url("../assets/images/pattern-bg-desktop.png");
  }

  h1 {
    margin-block: 60px 30px;
    font-size: 22px;
    font-weight: 700;
  }

  input,
  input::placeholder {
    font-size: 18px;
  }

  .ip-info {
    text-align: left;
    grid-template-columns: 260px 260px 260px 240px;
    width: auto;
    top: 200px;
  }

  .info-card {
    position: relative;
  }

  .info-card:not(:last-of-type)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 45px;
    background: #c0c0c0;
  }

  #map {
    height: 500px;
  }
}
